body.dabody .da-field-buttons .form-actions {
  display: flex !important;
  justify-content: space-between !important;
}

body.dabody .da-field-buttons .form-actions button:last-child {
  margin-left: auto !important;
}

body.dabody .hslNavContainer .links {
  display: none !important;
}

body.dabody .da-field-checkboxes .btn-light {
  display: flex !important;
}

body.dabody .da-field-checkboxes .btn-primary {
  display: flex !important;
}


body.dabody .dafieldpart .btn-primary, body.dabody .dafieldpart .btn-light {
  color: #212529 !important;
  background-color: white !important;
  border-color: white !important;
}

body.dabody .dafieldpart .btn-primary:hover, body.dabody .dafieldpart .btn-primary:hover {
  color: #212529 !important;
  background-color: whitesmoke !important;
  border-color: whitesmoke !important;
}

body.dabody .dafieldpart .btn-light:hover, body.dabody .dafieldpart .btn-light:hover {
  color: #212529 !important;
  background-color: whitesmoke !important;
  border-color: whitesmoke !important;
}

body.dabody .dafieldpart .btn-primary:hover:active {
  box-shadow: none !important;
}

body.dabody .dafieldpart .btn-primary.focus, body.dabody .dafieldpart .btn-primary:focus {
  box-shadow: none !important;
  outline: none;
}

body.dabody .dafieldpart .btn-light.focus, body.dabody .dafieldpart .btn-light:focus {
  box-shadow: none !important;
  outline: none;
}

body.dabody .labelauty-unchecked-image .text-muted {
 color: #6c757dad !important;
}

body.dabody .dafieldpart input.labelauty:checked + label > span.labelauty-unchecked-image {
  display: inline-block !important;
}

body.dabody .dafieldpart .labelauty-checked-image {
  position: absolute !important;
  color: #007bff !important;
}

body.dabody .dafieldpart .da-field-radio .btn-primary .labelauty-checked-image {
  margin-left: -14px !important;
  margin-top: -0.4px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

body.dabody .dafieldpart .da-field-radio .btn-primary .labelauty-checked-image .fa-check {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #007bff;
}

body.dabody .dafieldpart .da-field-radio .btn-primary .labelauty-checked-image .fa-check path {
  display: none;
}

body.dabody .tab-pane .alert-success {
  display: none;
}

body.dabody .da-field-container-note .col-md-12 {
  padding-left: 45px !important;
  margin-bottom: 1rem !important;
  background-image: url(https://svognev.gitlab.io/additional-css-for-documate/info_icon.svg);
  background-repeat: no-repeat;
  background-position: 14px top;
  background-size: 19px;
}

body.dabody .da-field-container-note .col-md-12 p {
  margin-bottom: 0 !important;
}

@media (min-width: 767px) {
  body.dabody .datext-right {
    min-height: 0 !important;
    text-align: left !important;
  }

  body.dabody .form-group {
    margin-bottom: 1.5rem !important;
  }

  body.dabody .col-md-4 {
    -ms-flex: none !important;
    flex: none !important;
    max-width: none !important;
  }

  body.dabody .form-group.darequired .col-form-label:after {
    bottom: 0.7rem !important;
    top: unset !important;
    right: unset !important;
  }

  body.dabody .col-md-8 {
    -ms-flex: none !important;
    max-width: none !important;
    flex: 0 auto !important;
  }

  body.dabody .offset-md-2 {
    margin-left: 0 !important;
  }

  body.dabody .offset-lg-3 {
    margin-left: 0 !important;
  }

  body.dabody .offset-xl-3 {
    margin-left: 0 !important;
  }

  body.dabody .container {
    width: 75% !important;
    max-width: 750px !important;
  }
}